 /* Whole document settings */
* {
  margin: 0px;
  padding: 0px;
}

 html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

  /* Title Bar */

.titlebar {
  display: flex;
  height: 69px;
  border-bottom: 1px solid seashell;
  margin: 10px 10px;
}

.logo {
  display: inline-flex;
  align-items: center;
  flex-basis: 50%;
  }

.link {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 50%;
  }

.links {
  margin: 0px 10px;
  color: seashell;
}

    /* SPLASH SCREEN SECTION */

.splash {
  display: flex;
  background-image: url("./img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.bar {

  flex-direction: column;
  background-color: black;
  align-items: center;
  height: 110px;
  text-align: center;
  width: 1200px;
}

.bar h2, .bar h4 {
  padding: 10px;
}

    /* Tea of the Month Section */

.tea-title {
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.tea-title h2, .tea-title h4 {
  padding: 10px;
}
